body{
  background-color: #f9ffc3;
}
h2{
  color:#ff7eb8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
  text-align:center;
  margin:100px;
  margin-bottom:0;
}
.containerhave{
  display:flex;
  flex-direction:column;
  gap:8px;
  align-items:center;
}
.number-input{
  margin:10px;
  margin-bottom:0;
  background-color: #ffcee4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color:green;
  border:none;
  width:180px;
  height:20px;
  border-radius:3px;
}
.password-input{
  border:none;
  background-color: #ffcee4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color:green;
  width:180px;
  height:20px;
  border-radius:3px;
}
.button{
  margin:5px;
  border:none;
  width:120px;
  height:20px;
  background-color: #ff93c4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius:3px;
}
.button:hover{
  background-color:#ffd0e4;
}