.background{
  background-image: url(img/aksiii.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  width: 100%;
}
.aksia{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  padding: 2px;
  margin: 0 ;
  align-items: start;
}

.promotext{
  color:#F9F4F5;
  text-align: center;
  width: 100%;
  font-size:30px;
  padding: 10px;
  margin-bottom: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.promo-container{
  display: inline-flex;/*шетинен басталады*/
  flex-direction: column;
 align-items:center;
  width: 220px;
  padding: 5px;
   background-color: #58641D;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
   gap: 3px;/*текст пен фотонын аракашыктыгы*/
   margin: 5px;/*карточкалар бир биримен ара кашыктыгы*/
   height: 430px;
    /* фиксированная высота карточки, чтобы все одинаковые */
   /* фиксированная высота карточки, чтобы все одинаковые */
  justify-content: flex-start;
  overflow: hidden;/*фотоны кыркады*/
}

.promo-container img{
 width:100%; /*фотоны карточкага салды*/
 height: 200px;
 object-fit: cover;
 border-radius: 6px;
 display: block;
}

.aksia{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.promo-description{
  margin-top: 1px;
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
  color:#DBD2E0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}
.pr20{
  font-size: 25px;
  color: #e9190f;
  font-display: block;
  justify-content: flex-start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}
.korzin{
  background-color: #DBD2E0;
  color:#e9190f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  padding: 5px 15px;
  width: 50%;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  border-style: none;
}
.korzin:hover{
  background-color: #e9190f;
  color:#DBD2E0;
}

.korzina-container{
background-image: url(img/mi.png);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;/*полный бир страница кылады размери бойынша*/
display: flex;
width: 100%;
}
.korzina-title{
  color:#e9190f;
  font-size:50px;
 margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
 margin-top: 2%;
 text-transform: uppercase;
}








