.log-tit{

  color:rgb(0, 0, 0);
  text-align:center;
  gap: 20px;
}

.logincontainer{
text-align: center;
flex-direction: column;
gap:20px;
padding: 15px;
margin: 50px; /*Отступ сверху*/
border-radius: 5px;
padding: 10px 20px;
flex-wrap: wrap;
}
.refzab{
text-decoration: none;
color:rgb(103, 102, 102);
text-transform: lowercase;

}
.refzab:hover{
  color:blue;
}


.voiti{
  text-align: center;
  color:aliceblue;
  background-color:blue;
  margin: 3px; /*войти и заполн данные арасындашгы аракашыкты жасады*/
  padding: 3px 25px;
  display: block; /*кнопка новая строкага тусти*/
  margin: 0 auto;/*кнопканы страницанын центрне койды*/
  border-style: none;
  border-radius: 5px;
  font-size: 15px;
}

.voiti:hover{
  background-color:rgb(72, 72, 255);
  color:rgb(255, 255, 255);
}
.regvoit{
  margin: 10px;

}